{% block content %}
     <h3>Top News</h3>
    <ul>

      {% for article_item in article %}
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
            <img src="{{article_item.image}}" alt="news pic" style="height : 100px; width : 100px;">
          <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
            <img src="{{article_item.image}}" alt="news pic" style="height : 200px; width : 200px;">
          </div>
           <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
          <div class="col-md-8 col-lg-8 col-xs-8 col-sm-8">
            <h4>{{article_item.title}}</h4>
            <p>{{article_item.description}} </p><br>
            <a href="{{article_item.url}}"target="_blank">Read More</a>
            {% endfor %}

  {% endblock %}
