{% extends 'base.html' %}

{% block content %}

<h3>Top Search</h3>
{% for cat_item in category %}

<div class="row">
  <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
    <img src="{{cat_item.image}}" alt="news pic" style="height : 200px; width : 200px;">
  </div>

  <div class="col-md-8 col-lg-8 col-xs-8 col-sm-8">
    <h4>{{cat_item.title}}</h4>
    <p>{{cat_item.description}} </p><br>
    <a href="{{cat_item.url}}"target="_blank">Read More</a>
    <p>submitted:<i>{{cat_item.time}}</i></p>
  </div>

</div>

{% endfor %}

{% endblock %}
